*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    border-bottom: 1px solid black;
    padding-block: 1rem;
    margin-bottom: 1rem;
}